* {
    box-sizing: border-box;
}
.btn-tool {
    padding: 10px;
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    color: #333;
    text-align: center;
}
.btn-tool-rounded button{
    border-radius: 50px!important;
}
.btn-tool button, .btn-tool img, .btn-tool a{
    cursor: pointer;
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 5px;
    height: 40px;
    width: 40px;
}
.btn-tool-item:hover, .btn-tool-active {
    border: 1px solid #8d8d8d!important;
}
.btn-brush {
    background: url("assets/icons/brush.svg") no-repeat center;
}
.btn-eraser {
    background: url("assets/icons/eraser.svg") no-repeat center;
}
.input-color-container {
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 40px;
}
#color-picker {
    cursor: pointer;
    position: absolute;
    right: -8px;
    top: -8px;
    width: 56px;
    height: 56px;
    border: none;
}
.btn-bg-cell {
    background: url("assets/bg/cell.png");
}
.btn-bg-line {
    background: url("assets/bg/line.png");
}
#image-insert {
    display: none;
}
.group-tools {
    display: flex;
    align-items: center;
    align-self: stretch;
}
.btn-download-image {
    display: block;
    background: url("assets/icons/save.svg") no-repeat center;
}
.btn-uploader {
    background: url("assets/icons/upload.svg") no-repeat center;
}
.btn-clear {
    background: url("assets/icons/clear.svg") no-repeat center;
}
#brush-size {
    height: 5px;
    width: 5px;
    background: #000;
    border-radius: 10px;
}
.brush-size-label {
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.divider {
    height: 100%;
    width: 1px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #c9c9c9 50%, rgba(217, 217, 217, 0) 100%, rgba(217, 217, 217, 0) 100%);
}
#images-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}
#images-container img {
    width: 100%;
}